body {
    background-color: beige;
    margin: 50px;
}

.title {
    color: red;
    background-color: blanchedalmond;
    padding: 10px;
    width: fit-content;
}

.olist-item {
    color: red;
    padding: 6px;
}

.ulist-item {
    color: red;
}

#available {
    color: red;
}

#available:hover {
    color: green;
}